<form name= "signup" action = "" method = post>
<table>
<tr>
<td>Fornavn: </td>
<td><input type="text" name="firstname" /></td>
</tr>
<tr>
<td>Etternavn: </td>
<td><input type="text" name="lastname" /></td>
</tr>
<tr>
<td>Brukernavn: </td>
<td><input type="text" name="lastname" /></td>
</tr>
<tr>
<td>E-post: </td>
<td><input type="text" name="mail" /></td>
</tr>
<tr>
<td>Telefonnummer:</td>
<td><input type="text" name="tlf" /></td>
</tr>
<tr>
<td>Fødselsdato:</td>
<td><input type="text" name="birth" value= "dd/mm/åå"/></td>
</tr>
<tr>
<td>Gateadresse:</td>
<td><input type="text" name="adress" /></td>
</tr>
<tr>
<td>Postnummer:</td>
<td><input type="text" name="adress"  /></td>
</tr>
<tr>
<td>Poststed:</td>
<td><input type="text" name="adress"/></td>
</tr>
<tr>
<td>Seater:</td>
<td><input type="text" name="seater" /></td>
</tr>
<tr>
<td>Linjeforening:</td> 
<td>
<form action="">
<select name="Linjeforening">
<option value="online">Online</option>
<option value="nabla">Nabla</option>
<option value="emil">Emil</option>
</select>
</form>
</td>
</tr>
<tr>
<td>
<input type= "submit" value="Send"/>
</td>
</tr>
</table>
</form>